*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}
/*Header*/
header{
    background: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color:white ;
    text-decoration: none;
    margin-left: 20px;

}

/*Hero*/
.hero{
    text-align: center;
    padding: 80px 20px;
    background: #add;
}

.hero h2{
    font-size: 40px;
    margin-bottom: 10px;

}

button{
    padding:12px 25px ;
    margin-top:20px ;
    border: none;
    cursor: pointer;

}

/*sections*/
section{
    padding: 12px 20px;
    max-width: 900px;
    margin: auto;

}
section h2{
    margin-bottom: 20px;

}

/*skills*/
.skills{
    display:flex ;
    gap: 15px;
    flex-wrap:wrap ;
}
.skills div{
    background: white;
    padding: 20px;
    border-radius: 8px;

}

/*projects*/
.projects{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;

}

/*footer*/
footer{
    text-align: center;
    background: #222;
    color:white ;
    padding: 20px;
}

/* DARK MODE */

.dark {
    background-color: #222;
    color: white;
}

/* Header */
.dark header {
    background-color: #111;
    color: white;
}

/* Hero */
.dark .hero {
    background-color: #333;
    color: white;
}

/* All sections */
.dark section {
    background-color: #222;
    color: white;
}

/* Skills */
.dark .skills div {
    background-color: #333;
    color: white;
}

/* Projects */
.dark .projects {
    background-color: #333;
    color: white;
}

/* Headings */
.dark h1,
.dark h2,
.dark h3,
.dark p {
    color: white;
}

/* Navigation links */
.dark nav a {
    color: white;
}

#menuBtn{
    display: none;
    font-size: 25px;
    background: none;
    color: white;
    border: none;

}

/*mobile*/
@media (max-width: 600px){
    header{
        position: relative;
    }
    #menuBtn{
        display: block;
    }
    nav{
       
        display: none;
        position: absolute;
        top: 100;
        right: 0;
        background: #222;
        padding: 20px;
    }
    nav.show{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}